body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gif {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #FF6B6B;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF4C4C;
}


#Yes1Button {
    font-size: 35px;
    padding: 20px 40px;
}

#No1Button {
    font-size: 17.5px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

#Yes2Button {
    font-size: 60px;
    padding: 40px 80px;
}

#No2Button {
    font-size: 8px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

#Yes3Button {
    font-size: 100px;
    padding: 80px 160px;
}